@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-green: #50fa7b;
    --color-grey: rgba(255, 255, 255, 0.233);
}


body {
    background-color: rgb(36, 34, 34);
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgba(5, 3, 3, 0.26);
    padding: 20px 20px 0px;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 16px;
    border: 2px solid var(--color-grey);
}

header img {
    border: 2px solid var(--color-green);
    border-radius: 50%;
    height: 150px;
    margin-bottom: -10px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-green);
}

.description p {
    font-weight: lighter;
    line-height: 40px;
    font-size: 25px;
    margin-top: 35px;
    text-align: center;
    margin: 30px 15px 20px 15px;
    opacity: 0.7;
}

.description p a {
    text-decoration: none;
    color: var(--color-green);
}

.border {
    border: 2px solid var(--color-green);
    margin-left: 6px;
    margin-right: 6px;
}

.list {
    position: absolute;
    width: 50%;
    border-right: 2px solid var(--color-grey);
    margin-top: 3%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.list h3 {
    font-size: 25px;
    font-weight: bold;
    color: var(--color-green);
    text-align: center;
    margin-top: 0px;
}

.list ul {
    font-size: 20px;
    text-align: center;
    margin-left: -40px;
    list-style-type: none;
    line-height: 35px;
}

.links {
    float: right;
    text-align: center;
    margin-right: 27%;
    margin-top: 3%;
}

.links a {
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    line-height: 130px;
    border: 2px solid var(--color-grey);
    color: var(--color-green);
    border-radius: 10px;
    margin-right: -100%;
}

.links a:hover {
    border-color: var(--color-green);
    transition: border-color 600ms;
}

.content {
    margin-top: -30px;
}

