@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-top: 10px;
  position: absolute;
  max-width: 1070px;
  padding: 0 200px;
  
}

header {
  height: 100px;
  width: 100%;
  background-color: #FCE3C8;
  
}

header nav {
  display: flex;
  align-items: center;
}

header nav .separation {
  width: 1px;
  height: 50px;
  margin: 0px 20px;
  background-color: #C94B32;
}

header nav .links {
  margin-top: 10px;
}

header nav .links a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

header nav .links a + a {
  margin-left: 20px;
}