{% extends 'layout.njk' %}

{% block head %}
  <title>Cursos - Rocketseat</title>
{% endblock %}

{% block content %}

    <div class="wrapper">
      <h1>Cursos</h1>
    </div>

    <section class="courses">

      {% for course in courses %}
        <div class="course" id="{{ course.name }}">
          <div class="course-{{ course.name }}">
            <div class="course-img">
              <img src="{{ course.image }}" alt="">
            </div>

            <div class="description">
              <p><p class="{{ course.name }}">{{ course.description }}</p>
            </div>

            <div class="course-modules">
              <p>{{ course.modules }} modulos</p>
              <p class="course-price">{{ course.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </section>

    <div class="modal-overlay">
      <div class="modal">
        <a class="maximize-modal">
          <i class="material-icons" id="fullscreen">fullscreen</i>
        </a>
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    <script src="../scripts.js"></script>

{% endblock %}