{% extends 'layout.njk' %}


{% block content %}
  <h1><center>Tá meio perdido aí amigão? KKKKKKKKKKKKKKKKKJJJJKKKKK</center></h1>
  <h1><center>Essa página não existe caro amigo, volte IMEDIATAMENTE OU COMEREI SUA MÃE</center></h1>
{% endblock %}