{% extends "layout.njk" %}

{% block head %}
  <title>Sobre - Júlio César</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
      <img src="{{ about.avatar_url }}" alt="">
      <h1>{{ about.name }}</h1>
      <h2>{{ about.role }}</h2>
      <p>{{ about.description }}</p>
    </div>

    {% for link in about.links %}
      <a href="{{ link.url }}" id="links-footer" target="_blank">{{ link.name }}</a>
    {% endfor %}
  
{% endblock %}
