<!DOCTYPE html>

<html>
  <head>
  
    {% block head %}
      <title>Fenix</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>

      <div class="content">
        <nav>
          <img src="https://www.adms.ueg.br/gestao_academica/javax.faces.resource/logo.png.xhtml?ln=imagens" alt="">
          <div class="links">
            <a href="/" class="active">Teachers</a>
           <a href="/portfolio">Students</a>
         </div>
        </nav>
      </div>
    </header>
  

    {% block content %}

    {% endblock %}

  </body>
</html>