{% extends 'layout.njk' %}

{% block head %}
  <title>{{ course.name }} - Rocketseat</title>
{% endblock %}

{% block content %}

  <section class="course-information">
    <img src="{{ course.image }}" alt="" class="{{ course.id }}">

    <div class="course-description" id="{{ course.name }}">
      <p>
        {{ course.detail }}
      </p>
      <a href="https://www.rocketseat.com.br/{{ course.name }}"> Confira agora! </a>
    </div>
    
    <h3>Tecnologias abordadas </h3>

    <div class="course-technologies">
      {% for technology in course.technologies %}
        <div class="technology">
          <img src="{{ technology.image }}" alt="">
          <p>{{ technology.name }}</p>
        </div>
      {% endfor %}
      

  </section>
 
{% endblock %}